body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
  }
  
  input {
    width: 80%;
    padding: 18px;
    margin: 12px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
  }
  
  button {
    padding: 18px 30px;
    font-size: 20px;
    border-radius: 8px;
    background: #22c55e;
    color: black;
    border: none;
    cursor: pointer;
  }
  